.c-headline {
  text-align: center;
  margin: 32px 64px;
  font-size: 32px;
  font-weight: 100;
  &__text {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding: 8px;
  }
}
